/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/***********************KSR************************** */
#section1 {
  clear: both;
}

#section1 .slider img {
  width: 100%;
  min-width: 1024px;
}

#section1 .slick-arrow {
  position: absolute;
  top: 50%;

  color: transparent;
}

#section1 .slick-prev {
  left: 100px;
  z-index: 1000;
}

#section1 .slick-prev::before {
  content: "";
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--color-grey-light);
  transform: translate(1rem, 0.8rem) rotate(-45deg);
}

#section1 .slick-prev::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: var(--color-grey-light);
  transform: translateX(1.35rem);
}

#section1 .slick-next {
  right: 100px;
}

#section1 .slick-next::before {
  content: "";
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--color-grey-light);
  transform: translate(3.35rem, 0.8rem) rotate(45deg);
}

#section1 .slick-next::after {
  content: "";
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: var(--color-grey-light);
}

#section1 .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  white-space: nowrap;
}

#section1 .slick-dots li {
  display: inline-block;
}

#section1 .slick-dots li:not(:last-child) {
  margin-right: 1rem;
}

#section1 .slick-dots button {
  text-indent: -999999999px;
  display: inline-block;
  height: 0.3rem;
  width: 12rem;
  border: none;
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

#section1 .slick-dots li.slick-active button {
  background-color: orangered;
}

/***********************************BEFORE AFTER SLIDE*****************************************/
#beforeAfter .regular {
  width: 100rem;
}

#beforeAfter .regular [class^="before"],
#beforeAfter .regular [class^="after"] {
  width: 17.8rem;
  height: 24.6rem;
}

#beforeAfter .slick-arrow {
  position: absolute;
  top: -8rem;
  width: 5rem;
  height: 5rem;

  text-indent: -9999999px;
}

#beforeAfter .slick-prev {
  background: url(../img/beforeAfter_arrow-left.png);

  left: 0;
}

#beforeAfter .slick-next {
  background: url(../img/beforeAfter_arrow-right.png);

  left: 4.9rem;
}
